#Kai:hover {
   transform: scale(1.1);
   background:linear-gradient(225deg,#c91313 0,#c29494 29%,#f5f0f0 67%,#f8f6f6 100%);
   border-radius: 75px;
}

#demo {
    background: linear-gradient(-225deg,#c91313 0,#f5f2f2 29%,#ffffff 67%,#ffffff 100%);
}

#MainTitle {
    border-radius: 100px;
}